<%= div_for(shout) do %>
  <div class="row">
    <div class="col-md-12 shout">
      <%= link_to shout.username, shout.user %>
      <%= time_ago_in_words shout.created_at %> ago
      <%= render shout.content %>
      <%= reshout_button(shout) %>
    </div>
  </div>
<% end %>
