<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to 'Shouter', root_path, class: 'navbar-brand' %>
    <div class="nav-greeting">
      <% if signed_in? %>
        <%= link_to current_user.username, user_path(current_user) %>
        <%= link_to 'Sign out', session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Sign in', new_session_path %>
      <% end %>
    </div>
  </div>
</nav>
